{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/container.css' %}">

  <style>
    span.required:after {
      content: "*";
      color: red;
    }
  </style>
{% endblock style %}

{% block content %}

<div class="my-container" style="padding-top: 10px;">
  <!-- Campo de Busca -->
  <div style="margin: 10px 0">
    <div class="col-sm-12">
      <form action="" method="GET" class="form-inline">
        <input id="id_search" name="search" class="form-control" type="text" placeholder="Busca" />
        <button type="submit" class="btn btn-primary ml-1">Buscar</button>
        <a href="." class="ml-2">Limpar</a>
      </form>
    </div>
  </div>

  <h1>Pré Reservas</h1>
  <h3>Consulta de quartos</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Quarto</th>
        <th>Padrão</th>
        <th>Valor</th>
        <th class="text-center">Liberado</th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <td>{{object}}</td>
        <td>{{object.padrao}}</td>
        <td style="width: 150px;">R$ <span class="pull-right">{{object.valor_diaria}}</span></td>
        <td class="text-center">
          {% if object.reservado %}
          <i class="fa fa-close" style="color: red"></i>
          {% else %}
          <i class="fa fa-check" style="color: green"></i>
          {% endif %}
        </td>
        <td class="text-center">
          {% if object.reservado %}
          <a href="{% url 'hotel:checkout' object.reserva.pk %}" class="btn btn-warning">Fazer checkout</a>
          {% else %}

          <a class="btn btn-primary" data-toggle="modal" href="#myModalReservar_{{object.id}}">Reservar</a>

          <!-- Modal -->
          <div class="modal fade" id="myModalReservar_{{object.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabelReservar">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabelReservar">Cadastrar Cliente</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <form action="{% url 'hotel:pre_reserva_pessoas_add' %}" method="POST">
                  <div class="modal-body text-left">
                    {% csrf_token %}
                    <input id="id_quarto_pk" name="quarto_pk" class="form-control" type="hidden" value="{{ object.pk }}" />
                    {% for field in form.visible_fields %}
                      <div class="form-group{% if field.errors %} has-error {% endif %}">
                        <label for="{{ field.id_for_label }}">
                          {% if field.field.required %}
                          <span class="required">{{ field.label }} </span>
                          {% else %}
                          {{ field.label }}
                          {% endif %}
                        </label>
                        {% render_field field class="form-control" %}
                        {% for error in field.errors %}
                        <span class="text-muted">{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% endfor %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          {% endif %}
        </td>
      </tr>
      </a>
      </li>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}