{% extends 'base.html' %}

{% block content %}
  <h1>Pré Reservas</h1>
  <h2>Consulta de quartos</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Quarto</th>
        <th scope="col">Padrão</th>
        <th scope="col">Valor</th>
        <th scope="col">Liberado</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>{{object}}</td>
          <td>{{object.padrao}}</td>
          <td style="width: 150px;">R$ <span class="pull-right">{{object.valor_diaria}}</span></td>
          <td>
            {% if object.reservado %}
              <i class="fa fa-close" style="color: red"></i>
            {% else %}
              <i class="fa fa-check" style="color: green"></i>
            {% endif %}
          </td>
          <td>
            {% if object.reservado %}
              <a href="{% url 'hotel:checkout' object.reserva.pk %}" class="btn btn-warning">Fazer checkout</a>
            {% else %}
              <a class="btn btn-primary"
                 href="{% url 'hotel:pre_reserva_pessoas_add' %}?quarto={{object.pk}}">Reservar</a>
            {% endif %}
          </td>
        </tr>
      </a>
    </li>
  {% endfor %}
</tbody>
</table>

{% endblock %}