{% extends 'base.html' %}

{% block content %}
<h1>{{ message }}</h1>
<form action="{ url 'core_quartos' id=id cmd=cmd%}" method="POST">
    {% csrf_token %}

    {{ form }}

    <button type="submit" class="btn btn-primary"> {% if update %} Atualizar {% else %} Cadastrar {% endif %}  </button>
</form>
{% if update %} <a href="{ url 'core_quartos' id=0 cmd=0 %}">Adicionar novo</a> {% endif %}
<h1>Lista Quartos</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Padrao Quarto</th>
                    <th scope="col">Numero Quarto</th>
                    <th scope="col">Hospede</th>
                </tr>
            </thead>
            <tbody>
                {% for quarto in quartos %}
                        <tr>
                        <th scope="row">{{quarto.id}}</th>
                        <td>
                            <li>
                                <a href="{ url 'core_quartos' id=quarto.id cmd=1 %}">Update</a> 
                                <a href="{ url 'core_quartos' id=quarto.id cmd=2 %}">Delete</a>
                                {{quarto.padrao}}
                            </li>    
                        </td>
                        <td>{{quarto.numero}}</td>
                        <td>{{quarto.hospede}}</td>
                        </tr>
                    </a>
                </li>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}