{% extends 'base.html' %}

{% block content %}
<h1>{{ message }}</h1>

<a href="{% url 'hotel:reserva_add' %}" class="btn btn-primary">Cadastrar</a>

<h1>Lista de Reservas</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Hóspede</th>
                    <th scope="col">Checkin</th>
                    <th scope="col">Checkout</th>
                    <th scope="col">Valor Hora</th>
                    <th scope="col">Quarto</th>
                    <th scope="col">Pago</th>
                </tr>
            </thead>
            <tbody>
                  {% for object in object_list %}
                        <tr>
                        <th scope="row">{{object.id}}</th>
                        <td>
                            <li>
                                <a href="{ url 'core_rotativos' id=object.id cmd=1 %}">Update</a> 
                                <a href="{ url 'core_rotativos' id=object.id cmd=2 %}">Delete</a>
                                {{object.checkin}}
                            </li>    
                        </td>
                            <td>{{object.nome_cliente}}</td>
                            <td>{{object.checkout}}</td>
                            <td>{{object.valor_diaria}}</td>
                            <td>{{object.quarto}}</td>
                            <td>{{object.pago}}</td>
                        </tr>
                    </a>
                </li>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}