{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" sizes="192x192" href="https://static.djangoproject.com/img/icon-touch.e4872c4da341.png">

    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

  {% block head %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  {% endblock head %}

    <title>Pousada</title>

    {% block base_style %}
      <style>
        body {
          margin-top: 60px;
        }
      </style>
    {% endblock base_style %}

    {% block style %}{% endblock style %}

</head>
<body>

  <div>

    {% if request.user.is_authenticated %}
      {% include "includes/menu_services.html" %}
    {% else %}
      {% include "includes/menu.html" %}
    {% endif %}

    {% block content %}{% endblock content %}

    {% include "includes/footer.html" %}

    {% block js %}{% endblock js %}

  </div>

</body>
</html>