{% extends 'base.html' %}

{% block main %}
<!-- <h1>{ message }}</h1> -->


<!-- Campo de Busca -->
<div class="row" style="margin: 10px 0">
  <div class="col-sm-6">
    <form action="" method="GET">
      <input id="id_search" name="search" class="form-control" type="text" placeholder="Busca" />
      <button type="submit" class="btn btn-primary">Buscar</button>
      <a href=".">Limpar</a>
    </form>
  </div>
</div>

<form action="{% url 'core:core_pessoas_add' %}" method="POST">
    {% csrf_token %}

    {{ form }}

    <!-- <button type="submit" class="btn btn-primary"> { if update %} Atualizar { else %} Cadastrar { endif %}  </button> -->

    <button type="submit" class="btn btn-primary">Salvar</button>

</form>
<!-- { if update %} <a href="{ url 'core_pessoas' id=0 cmd=0 %}">Adicionar novo</a> { endif %} -->

<h1>Lista Clientes</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Endereco</th>
                    <th scope="col">Telefone</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for pessoa in pessoas %}
                        <tr>
                        <th scope="row">{{pessoa.id}}</th>
                        <td>
                          <a href="{% url 'core:core_pessoas_detail' pessoa.pk %}">{{pessoa.nome}}</a>
                        </td>
                        <td>{{pessoa.cpf}}</td>
                        <td>{{pessoa.cidade}}</td>
                        <td>{{pessoa.endereco}}</td>
                        <td>{{pessoa.telefone}}</td>
                        <td>
                          <a href="{% url 'core:core_pessoas_edit' pessoa.pk %}">
                            <i class="fa fa-edit"></i>
                          <a href="{% url 'core:core_pessoas_delete' pessoa.pk %}">
                            <i class="fa fa-close" style="padding-left: 10px; color: red"></i>
                          </a>
                        </td>
                        </tr>
                    </a>
                </li>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}