{% extends 'base.html' %}

{% block main %}
<!-- <h1>{ message }}</h1> -->
<form action="{ url 'core_pessoas' id=id cmd=cmd%}" method="POST">
    {% csrf_token %}

    {{ form }}

    <!-- <button type="submit" class="btn btn-primary"> { if update %} Atualizar { else %} Cadastrar { endif %}  </button> -->

    <button type="submit" class="btn btn-primary">Salvar</button>

</form>
<!-- { if update %} <a href="{ url 'core_pessoas' id=0 cmd=0 %}">Adicionar novo</a> { endif %} -->

<a href="{ url 'core_pessoas' id=0 cmd=0 %}">Adicionar novo</a>

<h1>Lista Clientes</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Endereco</th>
                    <th scope="col">Telefone</th>
                </tr>
            </thead>
            <tbody>
                {% for pessoa in pessoas %}
                        <tr>
                        <th scope="row">{{pessoa.id}}</th>
                        <td>
                            <li>
                                <a href="{ url 'core_pessoas' id=pessoa.id cmd=1 %}">Update</a> 
                                <a href="{ url 'core_pessoas' id=pessoa.id cmd=2 %}">Delete</a>
                                {{pessoa.nome}}
                            </li>    
                        </td>
                        <td>{{pessoa.cpf}}</td>
                        <td>{{pessoa.cidade}}</td>
                        <td>{{pessoa.endereco}}</td>
                        <td>{{pessoa.telefone}}</td>
                        </tr>
                    </a>
                </li>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}